<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qim.netty.server.mapper.WtsChatMapper">
  <resultMap id="BaseResultMap" type="qim.netty.sdk.model.WtsChat">
    <!--@mbg.generated-->
    <!--@Table wts_chat-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="from_uid" jdbcType="INTEGER" property="fromUid" />
    <result column="to_uid" jdbcType="INTEGER" property="toUid" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="chat_type" jdbcType="TINYINT" property="chatType" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, from_uid, to_uid, content, `type`, chat_type, group_id, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wts_chat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from wts_chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="qim.netty.sdk.model.WtsChat">
    <!--@mbg.generated-->
    insert into wts_chat (id, from_uid, to_uid, 
      content, `type`, chat_type, 
      group_id, add_time)
    values (#{id,jdbcType=INTEGER}, #{fromUid,jdbcType=INTEGER}, #{toUid,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR}, #{type,jdbcType=TINYINT}, #{chatType,jdbcType=TINYINT},
      #{groupId,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="qim.netty.sdk.model.WtsChat">
    <!--@mbg.generated-->
    insert into wts_chat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fromUid != null">
        from_uid,
      </if>
      <if test="toUid != null">
        to_uid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="chatType != null">
        chat_type,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromUid != null">
        #{fromUid,jdbcType=INTEGER},
      </if>
      <if test="toUid != null">
        #{toUid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="chatType != null">
        #{chatType,jdbcType=TINYINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qim.netty.sdk.model.WtsChat">
    <!--@mbg.generated-->
    update wts_chat
    <set>
      <if test="fromUid != null">
        from_uid = #{fromUid,jdbcType=INTEGER},
      </if>
      <if test="toUid != null">
        to_uid = #{toUid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="chatType != null">
        chat_type = #{chatType,jdbcType=TINYINT},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="qim.netty.sdk.model.WtsChat">
    <!--@mbg.generated-->
    update wts_chat
    set from_uid = #{fromUid,jdbcType=INTEGER},
      to_uid = #{toUid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      chat_type = #{chatType,jdbcType=TINYINT},
      group_id = #{groupId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>